In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
import plotly.graph_objs as go
import plotly.express as px

In [2]:
df = pd.read_csv('/media/programmerrez/Field_Testing/Courses/Client_Projects/Sir_Malik/Price-Prediction-Model/Cleaned_Data/df_2.csv')
df.head()

,Unnamed: 0,price,bed,bath,acre_lot,city,state,house_size,sqft_lot
0,0,105000.0,3.0,2.0,0.12,Adjuntas,Puerto Rico,920.0,5227.2
1,1,80000.0,4.0,2.0,0.08,Adjuntas,Puerto Rico,1527.0,3484.8
2,2,67000.0,2.0,1.0,0.15,Juana Diaz,Puerto Rico,748.0,6534.0
3,3,145000.0,4.0,2.0,0.10,Ponce,Puerto Rico,1800.0,4356.0
4,4,65000.0,6.0,2.0,0.05,Mayaguez,Puerto Rico,1200.0,2178.0

In [3]:
df.columns

Index(['Unnamed: 0', 'price', 'bed', 'bath', 'acre_lot', 'city', 'state',
       'house_size', 'sqft_lot'],
      dtype='object')

In [4]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [6]:

df['city'] = le.fit_transform(df.city)
df['state'] = le.fit_transform(df.state)

In [7]:
df.head()

      price  bed  bath  acre_lot   city  state  house_size  sqft_lot
0  105000.0  3.0   2.0      0.12     92     41       920.0    5227.2
1   80000.0  4.0   2.0      0.08     92     41      1527.0    3484.8
2   67000.0  2.0   1.0      0.15   8786     41       748.0    6534.0
3  145000.0  4.0   2.0      0.10  14312     41      1800.0    4356.0
4   65000.0  6.0   2.0      0.05  10934     41      1200.0    2178.0

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso, LinearRegression, Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor

In [9]:
X = df.drop(['price'],axis=1)
y = df.price

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.4,random_state=42)

In [10]:
X_train.shape

(1334980, 7)

In [11]:
y_train.shape

(1334980,)

In [ ]:
rfr = RandomForestRegressor()
rfr.fit(X_train,y_train)