## Loading Dataframe using Pandas

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('D:/Client_Projects/Sir_Malik/Price-Prediction-Model_v2/Data_Cleaning & Feature Engineering/Data/realtor-data.csv')
df

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
0,103378.0,for_sale,105000.0,3.0,2.0,0.12,1962661.0,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,52707.0,for_sale,80000.0,4.0,2.0,0.08,1902874.0,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,103379.0,for_sale,67000.0,2.0,1.0,0.15,1404990.0,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,31239.0,for_sale,145000.0,4.0,2.0,0.10,1947675.0,Ponce,Puerto Rico,731.0,1800.0,NaN
4,34632.0,for_sale,65000.0,6.0,2.0,0.05,331151.0,Mayaguez,Puerto Rico,680.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2226377,23009.0,sold,359900.0,4.0,2.0,0.33,353094.0,Richland,Washington,99354.0,3600.0,2022-03-25
2226378,18208.0,sold,350000.0,3.0,2.0,0.10,1062149.0,Richland,Washington,99354.0,1616.0,2022-03-25
2226379,76856.0,sold,440000.0,6.0,3.0,0.50,405677.0,Richland,Washington,99354.0,3200.0,2022-03-24
2226380,53618.0,sold,179900.0,2.0,1.0,0.09,761379.0,Richland,Washington,99354.0,933.0,2022-03-24
2226381,108243.0,sold,580000.0,5.0,3.0,0.31,307704.0,Richland,Washington,99354.0,3615.0,2022-03-23

## Cleaning Null Values

In [5]:
df.isna().sum()

brokered_by         4533
status                 0
price               1541
bed               481317
bath              511771
acre_lot          325589
street             10866
city                1407
state                  8
zip_code             299
house_size        568484
prev_sold_date    734297
dtype: int64

In [6]:
"""
Cell generated by Data Wrangler.
"""
from datetime import datetime
import numpy as np
import pandas as pd

def clean_data(df):
    # Drop column: 'street'
    df = df.drop(columns=['street','brokered_by'])
    def months_passed(from_date_str, date_format="%Y-%m-%d"):
        if pd.isna(from_date_str):  # handle NaN/NaT values
            return 0
        # If the column is already datetime, skip parsing
        if isinstance(from_date_str, (datetime, pd.Timestamp)):
            from_date = from_date_str
        else:
            from_date = datetime.strptime(str(from_date_str), date_format)
        today = datetime.today()
        years_diff = today.year - from_date.year
        months_diff = today.month - from_date.month
        total_months = years_diff * 12 + months_diff
        if today.day < from_date.day:
            total_months -= 1
        return total_months
    # Apply to the column
    df['months_since_prev_sold'] = df['prev_sold_date'].apply(months_passed)
    df = df.drop(['prev_sold_date'],axis=1)
    df['bed'] = df['bed'].fillna(df['bed'].mode()[0])
    df['bath'] = df['bath'].fillna(df['bath'].mode()[0])
    df['acre_lot'] = df['acre_lot'].fillna(df['acre_lot'].mean())
    df['house_size'] = df['house_size'].fillna(df['house_size'].mean())
    df = df.dropna()
    return df

df_clean = clean_data(df.copy())
df_clean.head()

,status,price,bed,bath,acre_lot,city,state,zip_code,house_size,months_since_prev_sold
0,for_sale,105000.0,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.000000,0
1,for_sale,80000.0,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.000000,0
2,for_sale,67000.0,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.000000,0
3,for_sale,145000.0,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.000000,0
4,for_sale,65000.0,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,2714.471335,0

In [7]:
df = df_clean.copy()
df.head()

,status,price,bed,bath,acre_lot,city,state,zip_code,house_size,months_since_prev_sold
0,for_sale,105000.0,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.000000,0
1,for_sale,80000.0,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.000000,0
2,for_sale,67000.0,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.000000,0
3,for_sale,145000.0,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.000000,0
4,for_sale,65000.0,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,2714.471335,0

In [8]:
df.isna().sum()

status                    0
price                     0
bed                       0
bath                      0
acre_lot                  0
city                      0
state                     0
zip_code                  0
house_size                0
months_since_prev_sold    0
dtype: int64

In [9]:
df.shape

(2223239, 10)

In [10]:
df.to_csv('D:/Client_Projects/Sir_Malik/Price-Prediction-Model_v2/Data_Cleaning & Feature Engineering/Data/Cleaned_Null_Values.csv')

In [11]:
df_sale = df.loc[df['status']!='sold']

In [12]:
df_sale.shape

(1411585, 10)

In [13]:
df_sale.status.unique()

array(['for_sale', 'ready_to_build'], dtype=object)

In [14]:
df_sale.to_csv('D:/Client_Projects/Sir_Malik/Price-Prediction-Model_v2/Data_Cleaning & Feature Engineering/Data/Cleaned_Null_Values+Sale_Data.csv')